<!-- 
    This page displays all of the logged-in user's articles.
    These can be sorted by date or article title.
-->

<div id="container-all-article">

    <!--displaying the sort functionality-->

    <div id="checkBox"class="sorting"> 
        <form action="./userArticlesSortBy" method="POST">
            <label for="sort_id">Sort by:</label>
            <select name="sortName" id="sort_id">
                <option {{sele1}} value="date">date</option>
                <option {{sele2}} value="title">title</option>
            </select>
            <input type="submit" value="Sort">
        </form>
    </div>

    {{#if noUserRecipes}}
    <h3 id="noUserRecipes">{{noUserRecipes}}</h3>
    {{/if}}
    <!--displaying each of the user's recipes-->

    {{#each userArticles}}
    <div class="card">
        <div class="card-header"><a href="/content?id={{id}}"><img class="card-image" src="images/thumbnails/{{image}}"></a></div>
        <div class="card-body"><a href="/content?id={{id}}" class="articl-a">
            <h1 class="card-title">{{title}}</h1>
            <br>
            <h3><em>@Flavourful</em> ingredients:</h3>
            <p class="card-text">{{{ingredients}}}</p>
        </a><hr></div>
    </div>
    {{/each}}

</div>